.serfit_container{
    display: grid;
    grid-template-columns: repeat(2, 320px);
    justify-content: center;
}

.sertif_content{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 3rem 0 2rem 2.5rem;
    margin: 3rem;
    border-radius: 1.25rem;
}

.sertif_icon{
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.sertif_title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.sertif_company{
    top: 20px;
}

.serfit_button{
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.sertif_button-icon{
    font-size: 1rem;
    transition: 0.3s;
}

.serfit_button:hover .sertif_button-icon{
    transform: translateX(00.30rem);
}